<form [formGroup]="settings" style="margin: auto; width: fit-content;">

    <div style="margin-top: 15px;">
        <span style="font-size: larger;">Ajustes</span>
    </div>

    <div style="font-size: smaller; font-style: italic; font-weight: bolder;">
        Primera toma de contacto
    </div>

    <div style="margin-top: 10px; font-size: smaller; font-style: italic;">
        (no se guardan datos, únicamente sirve para
    </div>

    <div style="font-size: smaller; font-style: italic;">
        ver funcionalidades y el form)
    </div>

    <div style="margin-top: 15px;">
        <mat-checkbox formControlName="randomize">Aleatorizar ubicaciones</mat-checkbox>
    </div>

    <div style="margin-top: 15px;">
        <mat-form-field appearance="fill">
            <mat-label>Temporizador</mat-label>
            <input matInput style="text-align: right;" formControlName="timer"
                (input)="masks.numberMask(settings.get('timer'))">
            <span matSuffix style="margin-left: 5px;"> minutos</span>
            <mat-hint>Opcional. En caso de introducir un valor, se tiene que escoger
                entre temporizador total (toda la partida) o temporizador parcial (tiempo entre punto y punto).
            </mat-hint>
        </mat-form-field>
    </div>

    <div *ngIf="settings.get('timer')?.value" style="margin-top: 45px;">
        <mat-radio-group formControlName="timerOption">
            <mat-radio-button value="1" style="margin-right: 119px;">Total</mat-radio-button>
            <mat-radio-button value="2">Parcial</mat-radio-button>
        </mat-radio-group>
    </div>

    <div [ngStyle]="{'margin-top': settings.get('timer')?.value ? '10px' : '45px'}">
        <mat-form-field appearance="fill">
            <mat-label>Margen de error</mat-label>
            <input matInput style="text-align: right;" formControlName="margin"
                (input)="masks.numberMask(settings.get('margin'))">
            <span matSuffix style="margin-left: 5px;"> metros</span>
            <mat-hint>Opcional. Se añadira al margen de precisión del dispositivo.</mat-hint>
        </mat-form-field>
    </div>

    <div style="margin-top: 25px;">
        <mat-checkbox formControlName="vibration">Vibración</mat-checkbox>
    </div>

    <div style="margin-top: 25px;" *ngIf="settings.get('vibration')?.value">
        <button mat-raised-button color="primary" (click)="vibrate();" [disabled]="showHint">
            Probar vibración
        </button>
    </div>

    <div style="margin-top: 25px;" *ngIf="settings.get('vibration')?.value">
        <button mat-raised-button color="primary" (click)="delayedVibrate();" [disabled]="showHint">
            Probar vibración (15s delay)
        </button>
    </div>


    <div style="margin-top: 25px;" *ngIf="showHint">
        <pre>Patrón utilizado:</pre>
        <pre style="font-size: smaller; font-style: italic;">[100, 200, 300, 400, 500, 600, 700]</pre>
        <mat-progress-bar mode="determinate" [value]="percentage"></mat-progress-bar>
    </div>


    <div style="margin-top: 25px;">
        <mat-checkbox formControlName="notification" [disabled]="true">Notificaciones (deshabilitado)</mat-checkbox>
    </div>

    <div style="margin-top: 25px;" *ngIf="settings.get('notification')?.value">
        <button mat-raised-button color="primary" (click)="notify();">
            Probar notifiación
        </button>
    </div>



    <div style="margin-top: 25px;" *ngIf="settings.get('notification')?.value">
        <button mat-raised-button color="primary" (click)="delayedNotify();">
            Probar notifiación (15s delay)
        </button>
    </div>

    <div style="margin-top: 25px;">
        <button mat-raised-button color="accent" (click)="saveClicked = !saveClicked">
            {{ !saveClicked ? 'Mostrar info guardada' : 'Ocultar info' }}
        </button>
    </div>

    <div class="terminal" style="width: 100%;" *ngIf="saveClicked === true;">
        <pre>Settings:</pre>
        <pre>{{ settings.value | json }}</pre>
    </div>

    <div style="margin-top: 25px;">
        <button mat-raised-button color="warn" (click)="back()">
            Volver
        </button>
    </div>

</form>